/* brands*/

.brands{
    margin: 40px 0;
}
.brand-list{
    display: flex;
    justify-content: space-between;
    border:1px solid #dee0ea;
    padding: 30px 5;
    flex-wrap: wrap;
}
.brand-list .brand-item{
    opacity: 0.4;
    transition: .4s ease opacity;
}
.brand-list .brand-item:hover{
    opacity: 1;
}